<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>

</head>
<body>
<h1> Lista de Livros</h1>
<table>
    <thead>
    <tr>
        <th>Classificação</th>
        <th>Livros</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="livros: ${livros}" >
        <td th:text="${livros.classificacao}">Disciplina</td>
        <td th:text="${livros.livro}" >Nome</td>
    </tr>
    </tbody>
</table>

<hr>
</body>
</html>